In [3590]:
import pandas as pd 
import calendar
from workalendar.america import Brazil

In [3591]:
df_ativos = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\ATIVOS.xlsx")

df_ferias = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\FÉRIAS.xlsx")

df_desligados = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\DESLIGADOS.xlsx")

df_admitidos_mes = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\ADMISSÃO ABRIL.xlsx")

df_sindicato_valor = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\Base sindicato x valor.xlsx")

df_dias_uteis_colaborador = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\Base dias uteis.xlsx", skiprows=1)

df_exterior = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\EXTERIOR.xlsx")

df_afastamentos = pd.read_excel(r"C:\Users\gpr\Documents\Projeto Agents\Desafio 4\csv-agent\debug\AFASTAMENTOS.xlsx")

## Base única consolidada

### df_ativos

In [3592]:
df_ativos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1815 entries, 0 to 1814
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MATRICULA        1815 non-null   int64
 1   EMPRESA          1815 non-null   int64
 2   TITULO DO CARGO  1815 non-null   object
 3   DESC. SITUACAO   1815 non-null   object
 4   Sindicato        1815 non-null   object
dtypes: int64(2), object(3)
memory usage: 71.0+ KB

In [3593]:
df_ativos["TITULO DO CARGO"].value_counts()

TITULO DO CARGO
ASSISTENTE DE BPO I                      499
DESENVOLVEDOR III                        180
ASSISTENTE DE BPO II                     134
DESENVOLVEDOR II                         112
LIDER DE BPO                              56
                                        ...
COORDENADOR CONTABIL-FISCAL                1
ANALISTA DE COMERCIO EXTERIOR II           1
ESPECIALISTA DE SISTEMAS E NEGOCIOS I      1
ASSISTENTE CONTABIL-FISCAL                 1
DEVELOPER II                               1
Name: count, Length: 170, dtype: int64

In [3594]:
df_ativos

,MATRICULA,EMPRESA,TITULO DO CARGO,DESC. SITUACAO,Sindicato
0,34941,1410,TECH RECRUITER II,Trabalhando,SINDPD SP - SIND.TRAB.EM PROC DADOS E EMPR.EMP...
1,24401,1410,COORDENADOR ADMINISTRATIVO,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
2,32104,1410,ANALISTA CONTABIL-FISCAL II,Férias,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
3,35254,1410,ANALISTA CONTABIL-FISCAL II,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
4,31731,1410,ANALISTA CONTABIL-FISCAL III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
...,...,...,...,...,...
1810,32050,1410,ANALISTA DE SISTEMAS E NEGOCIOS II,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
1811,32549,1410,ANALISTA DE SISTEMAS E NEGOCIOS II,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
1812,31372,1410,ANALISTA DE SISTEMAS E NEGOCIOS III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
1813,31573,1410,ANALISTA DE SISTEMAS E NEGOCIOS III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...
1814,35194,1410,CIENTISTA DE DADOS III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...

### df_ferias

In [3595]:
df_ativos.columns

Index(['MATRICULA', 'EMPRESA', 'TITULO DO CARGO', 'DESC. SITUACAO',
       'Sindicato'],
      dtype='object')

In [3596]:
df_ferias.columns

Index(['MATRICULA', 'DESC. SITUACAO', 'DIAS DE FÉRIAS'], dtype='object')

In [3597]:
df_final = df_ativos.merge(df_ferias, on= ["MATRICULA", "DESC. SITUACAO"], how="left")

In [3598]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1815 entries, 0 to 1814
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MATRICULA        1815 non-null   int64
 1   EMPRESA          1815 non-null   int64
 2   TITULO DO CARGO  1815 non-null   object
 3   DESC. SITUACAO   1815 non-null   object
 4   Sindicato        1815 non-null   object
 5   DIAS DE FÉRIAS   76 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 85.2+ KB

Agora possuímos valores nulos para DIAS DE FÉRIAS, precisamos preencher

In [3599]:
df_final["DIAS DE FÉRIAS"] = df_final["DIAS DE FÉRIAS"].fillna(0)

### df_desligados

In [3600]:
df_desligados

    MATRICULA  DATA DEMISSÃO COMUNICADO DE DESLIGAMENTO
0        34706    2025-05-01                         OK
1        31486    2025-05-01                         OK
2        34641    2025-05-01                         OK
3        26139    2025-05-02                         OK
4        34179    2025-05-04                         OK
5        33482    2025-05-04                         OK
6        33492    2025-05-04                        NaN
7        33627    2025-05-07                         OK
8        33404    2025-05-04                         OK
9        33922    2025-05-08                         OK
10       25707    2025-05-09                         OK
11       34935    2025-05-10                         OK
12       33989    2025-05-11                         OK
13       29294    2025-05-11                         OK
14       31394    2025-05-16                         OK
15       25670    2025-05-15                         OK
16       34387    2025-05-15                         OK
17       33711    2025-05-17                         OK
18       34819    2025-05-16                         OK
19       35474    2025-05-17                         OK
20       33835    2025-05-17                         OK
21       35161    2025-05-05                         OK
22       35270    2025-05-02                         OK
23       31019    2025-05-06                         OK
24       31889    2025-05-05                         OK
25       35575    2025-05-04                         OK
26       34721    2025-05-02                         OK
27       35554    2025-05-03                         OK
28       35569    2025-05-03                         OK
29       31880    2025-05-27                         OK
30       34841    2025-05-07                         OK
31       34534    2025-05-29                        NaN
32       35664    2025-05-02                         OK
33       35589    2025-05-02                         OK
34       32946    2025-05-02                         OK
35       27226    2025-05-29                         OK
36       34417    2025-05-02                         OK
37       34924    2025-05-02                         OK
38       33417    2025-05-05                         OK
39       34477    2025-05-01                        NaN
40       34884    2025-05-18                         OK
41       35558    2025-05-03                         OK
42       30130    2025-05-02                         OK
43       32636    2025-05-02                         OK
44       35564    2025-05-03                         OK
45       30673    2025-05-14                         OK
46       35162    2025-05-02                         OK
47       33428    2025-05-02                         OK
48       31314    2025-05-08                        NaN
49       34785    2025-05-05                         OK
50       32533    2025-05-02                         OK

In [3601]:
df_desligados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MATRICULA                   51 non-null     int64
 1   DATA DEMISSÃO               51 non-null     datetime64[ns]
 2   COMUNICADO DE DESLIGAMENTO  47 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.3+ KB

In [3602]:
df_desligados.describe()

         MATRICULA                   DATA DEMISSÃO
count     51.000000                             51
mean   33208.490196  2025-05-07 15:03:31.764705792
min    25670.000000            2025-05-01 00:00:00
25%    32211.000000            2025-05-02 00:00:00
50%    33989.000000            2025-05-04 00:00:00
75%    34904.000000            2025-05-11 00:00:00
max    35664.000000            2025-05-29 00:00:00
std     2599.951879                            NaN

A coluna COMUNICADO DE DESLIGAMENTO possui alguns nulos, mas não tem problema, a interpretação é que simplesmente não houve comunicado (demissões sem aviso prévio, talvez)

Bom guardar essa informação pra depois, caso necessário 

Agora unindo com a tabela final. Mas validando se o nosso merge não gerou colunas.

In [3603]:
len(df_final) == len(df_ativos)

True

In [3604]:
df_final.columns

Index(['MATRICULA', 'EMPRESA', 'TITULO DO CARGO', 'DESC. SITUACAO',
       'Sindicato', 'DIAS DE FÉRIAS'],
      dtype='object')

In [3605]:
df_desligados.columns

Index(['MATRICULA ', 'DATA DEMISSÃO', 'COMUNICADO DE DESLIGAMENTO'], dtype='object')

df_desligados tem um problema no nome da coluna, foi identificado um espaço que inviabiliza a união das tabelas por essa chave. 

Corrigindo o problema via código

In [3606]:
df_desligados.columns = df_desligados.columns.str.strip()

Verificando se o merge é possível

In [3607]:
len(df_final.merge(df_desligados, on = "MATRICULA", how="left")) == len(df_final)

True

In [3608]:
df_final = df_final.merge(df_desligados, on = "MATRICULA", how="left")

In [3609]:
df_final

,MATRICULA,EMPRESA,TITULO DO CARGO,DESC. SITUACAO,Sindicato,DIAS DE FÉRIAS,DATA DEMISSÃO,COMUNICADO DE DESLIGAMENTO
0,34941,1410,TECH RECRUITER II,Trabalhando,SINDPD SP - SIND.TRAB.EM PROC DADOS E EMPR.EMP...,0.0,NaT,NaN
1,24401,1410,COORDENADOR ADMINISTRATIVO,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN
2,32104,1410,ANALISTA CONTABIL-FISCAL II,Férias,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,10.0,NaT,NaN
3,35254,1410,ANALISTA CONTABIL-FISCAL II,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN
4,31731,1410,ANALISTA CONTABIL-FISCAL III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN
...,...,...,...,...,...,...,...,...
1810,32050,1410,ANALISTA DE SISTEMAS E NEGOCIOS II,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN
1811,32549,1410,ANALISTA DE SISTEMAS E NEGOCIOS II,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN
1812,31372,1410,ANALISTA DE SISTEMAS E NEGOCIOS III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN
1813,31573,1410,ANALISTA DE SISTEMAS E NEGOCIOS III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN
1814,35194,1410,CIENTISTA DE DADOS III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN

### df_admitidos_mes

In [3610]:
df_admitidos_mes

    MATRICULA   Admissão                         Cargo Unnamed: 3
0       35741 2025-04-07  COORDENADOR DE OPERACOES III        NaN
1       35774 2025-04-22              ANALISTA DADOS I        NaN
2       35722 2025-04-02           ASSISTENTE DE BPO I        NaN
3       35767 2025-04-22             DESENVOLVEDOR III        NaN
4       35701 2025-04-01    GERENTE DE SERVICOS SENIOR        NaN
..        ...        ...                           ...        ...
78      35711 2025-04-01           ASSISTENTE DE BPO I        NaN
79      35779 2025-04-28             DESENVOLVEDOR III        NaN
80      35744 2025-04-08              DESENVOLVEDOR II        NaN
81      35765 2025-04-22        ANALISTA DEVSECOPS III        NaN
82      35751 2025-04-11             ANALISTA DADOS II        NaN

[83 rows x 4 columns]

In [3611]:
df_admitidos_mes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MATRICULA   83 non-null     int64
 1   Admissão    83 non-null     datetime64[ns]
 2   Cargo       83 non-null     object
 3   Unnamed: 3  6 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.7+ KB

Cargo é uma informação repetida da tabela principal, é bom evitar termos informações iguais

In [3612]:
df_admitidos_mes["Cargo"].value_counts()

Cargo
ASSISTENTE DE BPO I               29
DESENVOLVEDOR III                 16
AGILE MASTER                       3
ESTAGIARIO                         3
DESENVOLVEDOR II                   3
TECH RECRUITER II                  3
ANALISTA SUPORTE I                 2
ANALISTA DADOS I                   2
DESIGNER UX/UI II                  2
COORDENADOR DE OPERACOES III       2
CONS. FUNCIONAL SAP III            2
ANALISTA DADOS III                 2
ARQUITETO SOLUCOES III             1
PRODUCT MANAGER II                 1
CONS. ESP. FUNCIONAL SAP           1
ANALISTA DEVSECOPS III             1
SDR II                             1
ASSISTENTE PMO                     1
ANALISTA QUAL. SOFTWARE I          1
ARQUITETO INFRAESTRUTURA TI II     1
AGILE COACH II                     1
ARQUITETO DADOS II                 1
ENGENHEIRO DADOS ESP. II           1
ENGENHEIRO DADOS II                1
GERENTE DE SERVICOS SENIOR         1
ANALISTA DADOS II                  1
Name: count, dtype: int64

In [3613]:
df_final["TITULO DO CARGO"].value_counts()

TITULO DO CARGO
ASSISTENTE DE BPO I                      499
DESENVOLVEDOR III                        180
ASSISTENTE DE BPO II                     134
DESENVOLVEDOR II                         112
LIDER DE BPO                              56
                                        ...
COORDENADOR CONTABIL-FISCAL                1
ANALISTA DE COMERCIO EXTERIOR II           1
ESPECIALISTA DE SISTEMAS E NEGOCIOS I      1
ASSISTENTE CONTABIL-FISCAL                 1
DEVELOPER II                               1
Name: count, Length: 170, dtype: int64

In [3614]:
df_admitidos_mes = df_admitidos_mes.drop(columns="Cargo")

Unnamed: 3 parece conter informações complementares importantes. 
Vamos criar uma coluna com um nome adequado.

In [3615]:
df_admitidos_mes["Unnamed: 3"].value_counts()

Unnamed: 3
demitido         3
não recebe VR    3
Name: count, dtype: int64

In [3616]:
df_admitidos_mes = df_admitidos_mes.rename(columns={"Unnamed: 3": "INFO_ADMITIDOS_MES"})

# A coluna Admissão pode ser melhor descrita por DATA_DE_ADMISSAO_MES_ATUAL, considerando da tabela final completa
df_admitidos_mes = df_admitidos_mes.rename(columns={"Admissão": "DATA_DE_ADMISSAO_MES_ATUAL"})

Verificando se o merge é possível

In [3617]:
len(df_final.merge(df_admitidos_mes, on = "MATRICULA", how="left")) == len(df_final)

True

Realizando o merge

In [3618]:
df_final = df_final.merge(df_admitidos_mes, on="MATRICULA", how="left")

In [3619]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1815 entries, 0 to 1814
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MATRICULA                   1815 non-null   int64
 1   EMPRESA                     1815 non-null   int64
 2   TITULO DO CARGO             1815 non-null   object
 3   DESC. SITUACAO              1815 non-null   object
 4   Sindicato                   1815 non-null   object
 5   DIAS DE FÉRIAS              1815 non-null   float64
 6   DATA DEMISSÃO               3 non-null      datetime64[ns]
 7   COMUNICADO DE DESLIGAMENTO  2 non-null      object
 8   DATA_DE_ADMISSAO_MES_ATUAL  73 non-null     datetime64[ns]
 9   INFO_ADMITIDOS_MES          0 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(2), object(5)
memory usage: 141.9+ KB

Por enquanto ok o entendimento da tabela completa, seguindo.

### df_sindicato_valor

In [3620]:
df_sindicato_valor

  ESTADO                                                       VALOR
0                                             Paraná            35.0
1                                     Rio de Janeiro            35.0
2                                  Rio Grande do Sul            35.0
3                                          São Paulo            37.5
4                                             ​​​​​​             NaN

In [3621]:
df_sindicato_valor["ESTADO\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"].value_counts(dropna=False)

ESTADO
Paraná               1
Rio de Janeiro       1
Rio Grande do Sul    1
São Paulo            1
​​​​​​               1
Name: count, dtype: int64

Formato estranho de nome de coluna, renomeando

In [3622]:
df_sindicato_valor = df_sindicato_valor.rename(
    columns={
        "ESTADO\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0": "ESTADO_SINDICATO"
        }
    )

In [3623]:
df_final["Sindicato"].value_counts()

Sindicato
SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE DADOS RIO GRANDE DO SUL                              1150
SINDPD SP - SIND.TRAB.EM PROC DADOS E EMPR.EMPRESAS PROC DADOS ESTADO DE SP.                       423
SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE PROC DE DADOS DE CURITIBA E REGIAO METROPOLITANA     140
SINDPD RJ - SINDICATO PROFISSIONAIS DE PROC DADOS DO RIO DE JANEIRO                                102
Name: count, dtype: int64

É Necessário extrair o estado da coluna Sindicato da base final

In [3624]:
df_final["ESTADO_SINDICATO_SIGLA"] = df_final["Sindicato"].str.split().str[1]

In [3625]:
df_final["ESTADO_SINDICATO_SIGLA"].value_counts(dropna=False)

ESTADO_SINDICATO_SIGLA
RS    1150
SP     423
PR     140
RJ     102
Name: count, dtype: int64

Extração de estado realizada com sucesso. 

Mais importante, sem informações faltantes (NaNs)

Associando os estados com o nome que está na outra base

In [3626]:
df_sindicato_valor["ESTADO_SINDICATO"].value_counts()

ESTADO_SINDICATO
Paraná               1
Rio de Janeiro       1
Rio Grande do Sul    1
São Paulo            1
​​​​​​               1
Name: count, dtype: int64

In [3627]:
df_final.loc[df_final["ESTADO_SINDICATO_SIGLA"] == "RJ", "ESTADO_SINDICATO"] = "Rio de Janeiro"
df_final.loc[df_final["ESTADO_SINDICATO_SIGLA"] == "SP", "ESTADO_SINDICATO"] = "São Paulo"
df_final.loc[df_final["ESTADO_SINDICATO_SIGLA"] == "PR", "ESTADO_SINDICATO"] = "Paraná"
df_final.loc[df_final["ESTADO_SINDICATO_SIGLA"] == "RS", "ESTADO_SINDICATO"] = "Rio Grande do Sul"

In [3628]:
df_sindicato_valor

    ESTADO_SINDICATO  VALOR
0             Paraná   35.0
1     Rio de Janeiro   35.0
2  Rio Grande do Sul   35.0
3          São Paulo   37.5
4             ​​​​​​    NaN

Valor ainda é muito raso, trocando para VALOR_SINDICATO

In [3629]:
df_sindicato_valor = df_sindicato_valor.rename(columns = {"VALOR": "VALOR_SINDICATO"})

Verificando se é possível unir as duas tabelas, através da coluna "ESTADO_SINDICATO"

In [3630]:
len(df_final.merge(df_sindicato_valor, on = "ESTADO_SINDICATO", how="left")) == len(df_final)

True

Ok, unindo as tabelas

In [3631]:
df_final = df_final.merge(df_sindicato_valor, on = "ESTADO_SINDICATO", how="left")

In [3632]:
df_final["VALOR_SINDICATO"].value_counts(dropna=False)

VALOR_SINDICATO
35.0    1392
37.5     423
Name: count, dtype: int64

Merge com base de sindicato feito com sucesso

### df_dias_uteis_colaborador

In [3633]:
df_dias_uteis_colaborador

                                           SINDICADO  DIAS UTEIS
0  SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...           22
1  SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...           21
2  SINDPD SP - SIND.TRAB.EM PROC DADOS E EMPR.EMP...           22
3  SINDPD RJ - SINDICATO PROFISSIONAIS DE PROC DA...           21

Precisamos extrair o estado do sindicato, de maneira similar ao que foi feito anteriormente

In [3634]:
df_dias_uteis_colaborador.columns

Index(['SINDICADO', 'DIAS UTEIS '], dtype='object')

In [3635]:
df_dias_uteis_colaborador["ESTADO_SINDICATO_SIGLA"] = df_dias_uteis_colaborador["SINDICADO"].str.split().str[1]

Eliminando espaço em branco das colunas

In [3636]:
df_dias_uteis_colaborador.columns = df_dias_uteis_colaborador.columns.str.strip()

Extraindo apenas colunas de interesse para essa base

In [3637]:
df_dias_uteis_colaborador = df_dias_uteis_colaborador[["ESTADO_SINDICATO_SIGLA", "DIAS UTEIS"]].copy()

In [3638]:
df_final = df_final.merge(df_dias_uteis_colaborador, on="ESTADO_SINDICATO_SIGLA", how="left")

In [3639]:
df_final["DIAS UTEIS"].value_counts(dropna=False)

DIAS UTEIS
21    1252
22     563
Name: count, dtype: int64

### Ajustes df_final

In [3640]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1815 entries, 0 to 1814
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MATRICULA                   1815 non-null   int64
 1   EMPRESA                     1815 non-null   int64
 2   TITULO DO CARGO             1815 non-null   object
 3   DESC. SITUACAO              1815 non-null   object
 4   Sindicato                   1815 non-null   object
 5   DIAS DE FÉRIAS              1815 non-null   float64
 6   DATA DEMISSÃO               3 non-null      datetime64[ns]
 7   COMUNICADO DE DESLIGAMENTO  2 non-null      object
 8   DATA_DE_ADMISSAO_MES_ATUAL  73 non-null     datetime64[ns]
 9   INFO_ADMITIDOS_MES          0 non-null      object
 10  ESTADO_SINDICATO_SIGLA      1815 non-null   object
 11  ESTADO_SINDICATO            1815 non-null   object
 12  VALOR_SINDICATO             1815 non-null   float64
 13  DIAS UTEIS                  1815 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(3), object(7)
memory usage: 198.6+ KB

Considerações, agora com a base completa

1. INFO_ADMITIDOS_MES pode apresentar uma informação desnecessária (para esse mês pelo menos)
2. Nulos de ADMITIDO_NO_MES_ATUAL podem ser tranformados em False 
3. DATA DEMISSÃO provavelmente vai servir para quebrar alguma coluna 

Agora, realizando essas tratativas:

## Tratamento de exclusões

### Remoção da base final de todos os profissionais com cargo de diretores, estagiários e aprendizes

In [3641]:
pd.set_option('display.max_rows', None)

In [3642]:
sorted(df_final["TITULO DO CARGO"].unique().tolist())

['ADMINISTRADOR DE BANCO DE DADOS III',
 'ADVOGADO II',
 'ADVOGADO III',
 'AGILE COACH I',
 'AGILE COACH II',
 'AGILE MASTER',
 'ANALISTA ADMINISTRATIVO I',
 'ANALISTA ADMINISTRATIVO II',
 'ANALISTA CONTABIL-FISCAL I',
 'ANALISTA CONTABIL-FISCAL II',
 'ANALISTA CONTABIL-FISCAL III',
 'ANALISTA DE ADMINISTRACAO DE PESSOAS I',
 'ANALISTA DE ADMINISTRACAO DE PESSOAS II',
 'ANALISTA DE BPO II',
 'ANALISTA DE COMERCIO EXTERIOR II',
 'ANALISTA DE COMPLIANCE II',
 'ANALISTA DE COMPRAS I',
 'ANALISTA DE COMUNICACAO E MARKETING I',
 'ANALISTA DE COMUNICACAO E MARKETING II',
 'ANALISTA DE COMUNICACAO E MARKETING III',
 'ANALISTA DE CONTROLADORIA I',
 'ANALISTA DE CONTROLADORIA II',
 'ANALISTA DE CONTROLADORIA III',
 'ANALISTA DE CORPORATE VENTURE II',
 'ANALISTA DE CUSTOMER SUCCESS II',
 'ANALISTA DE DADOS I',
 'ANALISTA DE DADOS II',
 'ANALISTA DE DADOS III',
 'ANALISTA DE EDUCACAO CORPORATIVA I',
 'ANALISTA DE EDUCACAO CORPORATIVA II',
 'ANALISTA DE EXCELENCIA OPERACIONAL I',
 'ANALISTA DE EXCELENCIA OPERACIONAL III',
 'ANALISTA DE FINANCAS I',
 'ANALISTA DE FINANCAS II',
 'ANALISTA DE FINANCAS III',
 'ANALISTA DE GESTAO DA MUDANCA III',
 'ANALISTA DE INFRAESTRUTURA DE TI II',
 'ANALISTA DE INFRAESTRUTURA DE TI III',
 'ANALISTA DE NEGOCIOS I',
 'ANALISTA DE NEGOCIOS II',
 'ANALISTA DE NEGOCIOS III',
 'ANALISTA DE PMO I',
 'ANALISTA DE PMO II',
 'ANALISTA DE PMO III',
 'ANALISTA DE PROCESSOS I',
 'ANALISTA DE PROCESSOS II',
 'ANALISTA DE PROCESSOS III',
 'ANALISTA DE QUALIDADE DE SOFTWARE I',
 'ANALISTA DE QUALIDADE DE SOFTWARE II',
 'ANALISTA DE QUALIDADE DE SOFTWARE III',
 'ANALISTA DE RPA II',
 'ANALISTA DE SEGURANCA DA INFORMACAO II',
 'ANALISTA DE SEGURANCA DA INFORMACAO III',
 'ANALISTA DE SERVICE LEVEL MANAGEMENT I',
 'ANALISTA DE SISTEMAS E NEGOCIOS I',
 'ANALISTA DE SISTEMAS E NEGOCIOS II',
 'ANALISTA DE SISTEMAS E NEGOCIOS III',
 'ANALISTA DE SUPORTE I',
 'ANALISTA DE SUPORTE II',
 'ANALISTA DE SUPORTE III',
 'ANALISTA DEVSECOPS I',
 'ANALISTA DEVSECOPS II',
 'ANALISTA DEVSECOPS III',
 'ANALISTA PRODUTOS I',
 'ARQUITETO CORPORATIVO III',
 'ARQUITETO DE DADOS II',
 'ARQUITETO DE INFRAESTRUTURA DE TI I',
 'ARQUITETO DE INFRAESTRUTURA DE TI II',
 'ARQUITETO DE SOFTWARE I',
 'ARQUITETO DE SOFTWARE II',
 'ARQUITETO DE SOFTWARE III',
 'ARQUITETO DE SOLUCOES I',
 'ARQUITETO DE SOLUCOES III',
 'ASSISTENTE ADMINISTRATIVO',
 'ASSISTENTE CONTABIL-FISCAL',
 'ASSISTENTE DE ADMINISTRACAO DE PESSOAS',
 'ASSISTENTE DE BPO I',
 'ASSISTENTE DE BPO II',
 'ASSISTENTE DE BPO III',
 'ASSISTENTE DE COMPRAS',
 'ASSISTENTE DE COMUNICACAO E MARKETING',
 'ASSISTENTE DE CUSTOMER SUCCESS',
 'ASSISTENTE DE NEGOCIOS',
 'ASSISTENTE DE NEGOCIOS I',
 'ASSISTENTE DE NEGOCIOS II',
 'ASSISTENTE DE NEGOCIOS III',
 'ASSISTENTE DE PMO',
 'BUSINESS PARTNER ESPECIALISTA',
 'CIENTISTA DE DADOS ESPECIALISTA II',
 'CIENTISTA DE DADOS III',
 'CONSULTOR DE IMPLEMENTACAO II',
 'CONSULTOR DE IMPLEMENTACAO III',
 'CONSULTOR ESPECIALISTA FUNCIONAL SAP',
 'CONSULTOR ESPECIALISTA TECNICO SAP',
 'CONSULTOR FUNCIONAL SAP I',
 'CONSULTOR FUNCIONAL SAP II',
 'CONSULTOR FUNCIONAL SAP III',
 'CONSULTOR TECNICO SAP I',
 'CONSULTOR TECNICO SAP II',
 'CONSULTOR TECNICO SAP III',
 'COORDENADOR ADMINISTRATIVO',
 'COORDENADOR CONTABIL-FISCAL',
 'COORDENADOR DE ADMINISTRACAO DE PESSOAS',
 'COORDENADOR DE ATRACAO E SELECAO',
 'COORDENADOR DE BPO',
 'COORDENADOR DE COMUNICACAO E MARKETING',
 'COORDENADOR DE GESTAO DA MUDANCA',
 'COORDENADOR DE GOVERNANCA DE NEGOCIOS',
 'COORDENADOR DE INFRAESTRUTURA DE TI',
 'COORDENADOR DE OPERACOES I',
 'COORDENADOR DE OPERACOES II',
 'COORDENADOR DE OPERACOES III',
 'COORDENADOR DE REMUNERACAO E PERFORMANCE',
 'COORDENADOR DE SISTEMAS',
 'COORDENADOR FINANCEIRO',
 'DELIVERY MANAGER',
 'DESENVOLVEDOR DE RPA I',
 'DESENVOLVEDOR DE RPA II',
 'DESENVOLVEDOR DE RPA III',
 'DESENVOLVEDOR I',
 'DESENVOLVEDOR II',
 'DESENVOLVEDOR III',
 'DESIGNER UX/UI I',
 'DESIGNER UX/UI II',
 'DESIGNER UX/UI III',
 'DEVELOPER II',
 'DEVELOPER III',
 'ENGENHEIRO DE DADOS ESPECIALISTA II',
 'ENGENHEIRO DE DADOS I',
 'ENGENHEIRO DE DADOS II',
 'ENGENHEIRO DE DADOS III',
 'ENTERPRISE AGILE COACH',
 'ESPECIALISTA DE DADOS I',
 'ESPECIALISTA DE PRE-VENDAS I',
 'ESPECIALISTA DE PRE-VENDAS II',
 'ESPECIALISTA DE PRE-VENDAS III',
 'ESPECIALISTA DE QUALIDADE DE SOFTWARE I ',
 'ESPECIALISTA DE RPA I',
 'ESPECIALISTA DE SISTEMAS E NEGOCIOS I',
 'EXECUTIVO DE CONTAS ESPECIALISTA',
 'EXECUTIVO DE CONTAS I',
 'EXECUTIVO DE CONTAS III',
 'GERENTE CONTABIL-FISCAL',
 'GERENTE DE ARQUITETURA E GOVERNANCA',
 'GERENTE DE COMUNICACAO E MARKETING',
 'GERENTE DE CUSTOMER SUCCESS',
 'GERENTE DE GERACAO DE DEMANDAS',
 'GERENTE DE OPERACOES I',
 'GERENTE DE OPERACOES II',
 'GERENTE DE PESSOAS E PERFORMANCE',
 'GERENTE DE PMO',
 'GERENTE DE PROJETOS I',
 'GERENTE DE PROJETOS II',
 'GERENTE DE SERVICOS SENIOR',
 'GERENTE JURIDICO',
 'LIDER DE BPO',
 'LIDER DE SAP',
 'LIDER TECNICO PLENO',
 'LIDER TECNICO SENIOR',
 'PRODUCT MANAGER I',
 'PRODUCT MANAGER II',
 'PRODUCT OWNER II',
 'PRODUCT OWNER III',
 'SDR II',
 'TECH LEAD I',
 'TECH LEAD II',
 'TECH RECRUITER I',
 'TECH RECRUITER II',
 'TECH RECRUITER III',
 'TRAINEE COMERCIAL']

Não foram observados casos de diretores, estagiários e aprendizes, mas um script será elaborado para tratar caso apareçam

In [3643]:
pd.reset_option('display.max_rows')

In [3644]:
cargos_indesejados = ["DIRETOR", "ESTAGIÁRIO", "ESTAGIARIO", "APRENDIZ"]

df_final["CARGO_INDESEJADO"] = df_final["TITULO DO CARGO"].str.contains(
    "|".join(cargos_indesejados), case=False, na=False
)

In [3645]:
df_final["CARGO_INDESEJADO"].value_counts(dropna=False)

CARGO_INDESEJADO
False    1815
Name: count, dtype: int64

Filtrando esses casos

In [3646]:
df_final = df_final[df_final["CARGO_INDESEJADO"] == False].copy()

In [3647]:
df_final = df_final.drop(columns="CARGO_INDESEJADO")

### Eliminação de afastados em geral

In [3648]:
df_afastamentos

,MATRICULA,DESC. SITUACAO,na compra?,Unnamed: 3
0,32572,Licença Maternidade,NaN,NaN
1,25961,Licença Maternidade,NaN,NaN
2,21151,Auxílio Doença,NaN,NaN
3,25857,Auxílio Doença,NaN,NaN
4,31326,Licença Maternidade,NaN,NaN
5,32930,Licença Maternidade,NaN,NaN
6,30515,Licença Maternidade,30515.0,retorno de férias + licença em 11/06
7,34526,Licença Maternidade,34526.0,retorno de férias + licença em 12/06
8,34357,Licença Maternidade,NaN,NaN
9,34539,Licença Maternidade,34539.0,retorno da licença em 04/06
10,34330,Auxílio Doença,NaN,NaN
11,30264,Licença Maternidade,NaN,NaN
12,32345,Licença Maternidade,32345.0,retorno de férias + licença em 26/05
13,30200,Licença Maternidade,NaN,NaN
14,34867,Auxílio Doença,NaN,NaN
15,34986,Auxílio Doença,NaN,NaN
16,34731,Auxílio Doença,NaN,NaN
17,34901,Auxílio Doença,NaN,NaN
18,33106,Licença Maternidade,33106.0,retorno da licença em 05/06
19,25233,Auxílio Doença,NaN,NaN

Existem afastamentos com data de encerramento. Pode fazer sentido preservar a data de retorno

Essa coluna também está com um nome estranho -> Unnamed: 3

In [3649]:
df_afastamentos = df_afastamentos.rename(columns = {"Unnamed: 3": "OBS_AFASTAMENTO"})

In [3650]:
mask = df_afastamentos['OBS_AFASTAMENTO'].str.contains(r'(?i)\bretorno\b', na=False)


df_afastamentos.loc[mask, 'RETORNO_APÓS_AFASTAMENTO'] = df_afastamentos.loc[mask, 'OBS_AFASTAMENTO'].str.extract(
    r'(\d{1,2}\s*/\s*\d{1,2})', expand=False
).str.replace(r'\s*\/\s*', '/', regex=True)

In [3651]:
df_afastamentos

,MATRICULA,DESC. SITUACAO,na compra?,OBS_AFASTAMENTO,RETORNO_APÓS_AFASTAMENTO
0,32572,Licença Maternidade,NaN,NaN,NaN
1,25961,Licença Maternidade,NaN,NaN,NaN
2,21151,Auxílio Doença,NaN,NaN,NaN
3,25857,Auxílio Doença,NaN,NaN,NaN
4,31326,Licença Maternidade,NaN,NaN,NaN
5,32930,Licença Maternidade,NaN,NaN,NaN
6,30515,Licença Maternidade,30515.0,retorno de férias + licença em 11/06,11/06
7,34526,Licença Maternidade,34526.0,retorno de férias + licença em 12/06,12/06
8,34357,Licença Maternidade,NaN,NaN,NaN
9,34539,Licença Maternidade,34539.0,retorno da licença em 04/06,04/06
10,34330,Auxílio Doença,NaN,NaN,NaN
11,30264,Licença Maternidade,NaN,NaN,NaN
12,32345,Licença Maternidade,32345.0,retorno de férias + licença em 26/05,26/05
13,30200,Licença Maternidade,NaN,NaN,NaN
14,34867,Auxílio Doença,NaN,NaN,NaN
15,34986,Auxílio Doença,NaN,NaN,NaN
16,34731,Auxílio Doença,NaN,NaN,NaN
17,34901,Auxílio Doença,NaN,NaN,NaN
18,33106,Licença Maternidade,33106.0,retorno da licença em 05/06,05/06
19,25233,Auxílio Doença,NaN,NaN,NaN

Apenas os casos sem data de retorno serão eliminados, os outros serão agregados na tabela df_final

In [3652]:
matriculas_para_eliminar = df_afastamentos["MATRICULA"].unique().tolist()

In [3653]:
df_final = df_final[~df_final["MATRICULA"].isin(matriculas_para_eliminar)].copy()

In [3654]:
df_final["Sindicato"].value_counts()

Sindicato
SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE DADOS RIO GRANDE DO SUL                              1135
SINDPD SP - SIND.TRAB.EM PROC DADOS E EMPR.EMPRESAS PROC DADOS ESTADO DE SP.                       419
SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE PROC DE DADOS DE CURITIBA E REGIAO METROPOLITANA     140
SINDPD RJ - SINDICATO PROFISSIONAIS DE PROC DADOS DO RIO DE JANEIRO                                101
Name: count, dtype: int64

### Eliminação de profissionais que atuam no exterior

In [3655]:
df_exterior

   Cadastro  Valor                            Unnamed: 2
0     29306   28.0                             desligado
1     31227  554.4  RETORNOU DO EXTERIOR - devido o pgto
2     32967  660.0                              removido
3     34884  554.4                                   NaN

Aparentemente, apenas eliminar com base nas matrículas que constam nessa tabela, não é necessário agregar

In [3656]:
cadastros_para_eliminar = df_exterior["Cadastro"].unique().tolist()

In [3657]:
df_final[df_final["MATRICULA"].isin(cadastros_para_eliminar)]

,MATRICULA,EMPRESA,TITULO DO CARGO,DESC. SITUACAO,Sindicato,DIAS DE FÉRIAS,DATA DEMISSÃO,COMUNICADO DE DESLIGAMENTO,DATA_DE_ADMISSAO_MES_ATUAL,INFO_ADMITIDOS_MES,ESTADO_SINDICATO_SIGLA,ESTADO_SINDICATO,VALOR_SINDICATO,DIAS UTEIS
434,31227,1410,ANALISTA DE PROCESSOS III,Trabalhando,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,0.0,NaT,NaN,NaT,NaN,RS,Rio Grande do Sul,35.0,21

Existe um caso na base completa, mas via de regra sempre buscaremos eliminar todos

In [3658]:
df_final = df_final[~df_final["MATRICULA"].isin(cadastros_para_eliminar)].copy()

## Validar e corrigir

In [3659]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1794 entries, 0 to 1814
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MATRICULA                   1794 non-null   int64
 1   EMPRESA                     1794 non-null   int64
 2   TITULO DO CARGO             1794 non-null   object
 3   DESC. SITUACAO              1794 non-null   object
 4   Sindicato                   1794 non-null   object
 5   DIAS DE FÉRIAS              1794 non-null   float64
 6   DATA DEMISSÃO               3 non-null      datetime64[ns]
 7   COMUNICADO DE DESLIGAMENTO  2 non-null      object
 8   DATA_DE_ADMISSAO_MES_ATUAL  73 non-null     datetime64[ns]
 9   INFO_ADMITIDOS_MES          0 non-null      object
 10  ESTADO_SINDICATO_SIGLA      1794 non-null   object
 11  ESTADO_SINDICATO            1794 non-null   object
 12  VALOR_SINDICATO             1794 non-null   float64
 13  DIAS UTEIS                  1794 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(3), object(7)
memory usage: 210.2+ KB

In [3660]:
df_final["DATA DEMISSÃO"].value_counts(dropna=False)

DATA DEMISSÃO
NaT           1791
2025-05-29       1
2025-05-09       1
2025-05-15       1
Name: count, dtype: int64

In [3661]:
df_final["DATA_DE_ADMISSAO_MES_ATUAL"].value_counts(dropna=False)

DATA_DE_ADMISSAO_MES_ATUAL
NaT           1721
2025-04-01      14
2025-04-02       7
2025-04-07       6
2025-04-22       6
2025-04-16       5
2025-04-14       5
2025-04-23       5
2025-04-17       4
2025-04-03       4
2025-04-10       3
2025-04-28       3
2025-04-08       3
2025-04-11       2
2025-04-25       2
2025-04-24       2
2025-04-15       1
2025-04-09       1
Name: count, dtype: int64

As datas não fazem sentido, o mês atual está como 04/25 enquanto existem demissões registradas em 05/25. 

Em um primeiro momento, vamos admitir que o mês está errado, e vamos corrigir para o mes atual.

Primeiro, é certo que um input ao agente será necessário com o mes atual, incluimos isso no dataframe

In [3662]:
df_final["MES_ATUAL"] = 4 # será um input em linguagem natural
df_final["ANO_ATUAL"] = 2025 # também será um input em linguagem natural

In [3663]:
df_final["DIAS DE FÉRIAS"].value_counts()

DIAS DE FÉRIAS
0.0     1718
30.0      22
5.0       21
10.0      11
15.0      11
20.0      11
Name: count, dtype: int64

In [3664]:
# # Ajusta a coluna para que o mês seja o mesmo do MES_ATUAL, mantendo o dia
# def ajustar_mes_admissao(row):
#     if pd.notnull(row["DATA_DE_ADMISSAO_MES_ATUAL"]):
#         data = pd.to_datetime(row["DATA_DE_ADMISSAO_MES_ATUAL"])
#         ano = int(row["ANO_ATUAL"])
#         mes = int(row["MES_ATUAL"])
#         # Troca ano e mês para o MES_ATUAL
#         return data.replace(year=ano, month=mes)
#     else:
#         return pd.NaT

# df_final["DATA_DE_ADMISSAO_MES_ATUAL"] = df_final.apply(ajustar_mes_admissao, axis=1)

## Cálculo da tabela resultante

### Extraindo dias úteis do mes atual

In [3665]:
cal = Brazil()

In [3666]:
# função que conta dias úteis considerando feriados do Brasil
def business_days(year, month):
    return cal.get_working_days_delta(
        pd.Timestamp(year=year, month=month, day=1),
        pd.Timestamp(year=year, month=month, day=pd.Period(f"{year}-{month}").days_in_month)
    ) + 1  # +1 porque o intervalo é exclusivo no final

# aplica para cada linha
df_final["DIAS_UTEIS_MES_ATUAL"] = df_final.apply(lambda x: business_days(x["ANO_ATUAL"], x["MES_ATUAL"]), axis=1)

In [3667]:
def all_days_in_month(year, month):
    start = pd.Timestamp(year=year, month=month, day=1)
    end = start + pd.offsets.MonthEnd(0)  # último dia do mês
    return pd.date_range(start, end, freq="D")

In [3668]:
df_final["QTD_DIAS_NO_MES"] = df_final.apply(
    lambda row: calendar.monthrange(row["ANO_ATUAL"], row["MES_ATUAL"])[1], axis=1
)

In [3669]:
df_final["DIAS UTEIS"].value_counts(dropna=False)

DIAS UTEIS
21    1235
22     559
Name: count, dtype: int64

In [3670]:
df_final[["DATA DEMISSÃO", "COMUNICADO DE DESLIGAMENTO"]].value_counts(dropna=False)

DATA DEMISSÃO  COMUNICADO DE DESLIGAMENTO
NaT            NaN                           1791
2025-05-09     OK                               1
2025-05-15     OK                               1
2025-05-29     NaN                              1
Name: count, dtype: int64

In [3671]:
pd.set_option('display.max_columns', None)

In [3672]:
df_final["DESC. SITUACAO"].value_counts()

DESC. SITUACAO
Trabalhando    1716
Férias           76
Atestado          2
Name: count, dtype: int64

In [3673]:
df_final.columns

Index(['MATRICULA', 'EMPRESA', 'TITULO DO CARGO', 'DESC. SITUACAO',
       'Sindicato', 'DIAS DE FÉRIAS', 'DATA DEMISSÃO',
       'COMUNICADO DE DESLIGAMENTO', 'DATA_DE_ADMISSAO_MES_ATUAL',
       'INFO_ADMITIDOS_MES', 'ESTADO_SINDICATO_SIGLA', 'ESTADO_SINDICATO',
       'VALOR_SINDICATO', 'DIAS UTEIS', 'MES_ATUAL', 'ANO_ATUAL',
       'DIAS_UTEIS_MES_ATUAL', 'QTD_DIAS_NO_MES'],
      dtype='object')

Criando booleano, caso tenha sido admitido no mes atual

In [3674]:
df_final["ADMITIDO_NO_MES_ATUAL"] = False 

df_final.loc[df_final["DATA_DE_ADMISSAO_MES_ATUAL"].dt.month == df_final["MES_ATUAL"], "ADMITIDO_NO_MES_ATUAL"] = True

In [3675]:
def calcular_dias_validos(row):
    dias_validos = row["DIAS_UTEIS_MES_ATUAL"]

    ano = int(row["ANO_ATUAL"])
    mes = int(row["MES_ATUAL"])
    inicio_mes = pd.Timestamp(year=ano, month=mes, day=1)
    fim_mes = pd.Timestamp(year=ano, month=mes, day=calendar.monthrange(ano, mes)[1])

    # --- Regras de Admissão ---
    if row["ADMITIDO_NO_MES_ATUAL"] and pd.notnull(row["DATA_DE_ADMISSAO_MES_ATUAL"]):
        data_adm = pd.to_datetime(row["DATA_DE_ADMISSAO_MES_ATUAL"])
        dias_validos = cal.get_working_days_delta(data_adm, fim_mes) + 1

    # --- Regras de Demissão ---
    if pd.notnull(row["DATA DEMISSÃO"]):
        data_dem = pd.to_datetime(row["DATA DEMISSÃO"])
        if data_dem.month == mes and data_dem.year == ano:
            # até dia 15 e comunicado OK
            if data_dem.day <= 15 and str(row["COMUNICADO DE DESLIGAMENTO"]).upper() == "OK":
                dias_validos = 0
            else:
                dias_validos = cal.get_working_days_delta(inicio_mes, data_dem) + 1

    # --- Regras de Férias (apenas PR) ---
    if row["ESTADO_SINDICATO_SIGLA"] == "PR":
        dias_validos -= int(row["DIAS DE FÉRIAS"])

    return max(dias_validos, 0)

# Aplicar ao DataFrame
df_final["DIAS_VALIDOS"] = df_final.apply(calcular_dias_validos, axis=1)

In [3676]:
df_final[df_final["DIAS_VALIDOS"]>22]["DATA_DE_ADMISSAO_MES_ATUAL"].value_counts(dropna=False)

Series([], Name: count, dtype: int64)

Coluna dias úteis não é necessária, apenas a dias validos que será calculada

In [3677]:
df_final = df_final.drop(columns = "DIAS UTEIS")

É importante destacar que para descontar de maneira correta as férias seria necessário a data início de férias, para saber quantos dias úteis de ferias foram tirados

Se sobrar tempo, vou detectar sempre se nas bases dos colaboradores do PR existe alguém de férias, o agente vai pedir para preencher a data de início para desconto, para cada matrícula necessária. 

Por enquanto, seguimos mesmo com esse erro (dias corridos ferias - dias uteis / teria que ser dias uteis ferias - dias uteis)

In [3678]:
df_final[
    (df_final["ESTADO_SINDICATO_SIGLA"] == "PR")
    &
    (df_final["DIAS DE FÉRIAS"] > 0 )]

,MATRICULA,EMPRESA,TITULO DO CARGO,DESC. SITUACAO,Sindicato,DIAS DE FÉRIAS,DATA DEMISSÃO,COMUNICADO DE DESLIGAMENTO,DATA_DE_ADMISSAO_MES_ATUAL,INFO_ADMITIDOS_MES,ESTADO_SINDICATO_SIGLA,ESTADO_SINDICATO,VALOR_SINDICATO,MES_ATUAL,ANO_ATUAL,DIAS_UTEIS_MES_ATUAL,QTD_DIAS_NO_MES,ADMITIDO_NO_MES_ATUAL,DIAS_VALIDOS
1428,28927,1410,GERENTE DE GERACAO DE DEMANDAS,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,20.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,1
1432,26210,1410,DESENVOLVEDOR III,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,5.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,16
1442,26042,1410,ARQUITETO DE SOFTWARE III,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,30.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,0
1455,34556,1410,DESENVOLVEDOR I,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,30.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,0
1471,33753,1410,DESENVOLVEDOR III,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,30.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,0
1479,32008,1410,DESENVOLVEDOR III,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,30.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,0
1524,31007,1410,DESENVOLVEDOR II,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,30.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,0
1531,26174,1410,CONSULTOR TECNICO SAP III,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,30.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,0
1538,25330,1410,DESENVOLVEDOR III,Férias,SITEPD PR - SIND DOS TRAB EM EMPR PRIVADAS DE ...,30.0,NaT,NaN,NaT,NaN,PR,Paraná,35.0,4,2025,21,30,False,0

In [3679]:
df_final["DIAS_VALIDOS"].value_counts(dropna=False)

DIAS_VALIDOS
21    1726
20       7
0        7
7        6
17       6
10       5
12       5
6        5
9        4
19       4
16       4
14       3
3        3
13       2
4        2
5        2
11       1
15       1
1        1
Name: count, dtype: int64

## Realizando os cálculos para a planilha final

In [3680]:
df_final["TOTAL"] = df_final["DIAS_VALIDOS"]*df_final["VALOR_SINDICATO"]

df_final["Custo empresa"] = 0.8*df_final["TOTAL"]

df_final["Desconto profissional"] = 0.2*df_final["TOTAL"]

In [3681]:
df_final["Competência"] = df_final["MES_ATUAL"].astype(str).str.zfill(2) + "/" + df_final["ANO_ATUAL"].astype(str)

In [3682]:
df_final.columns.unique().tolist()

['MATRICULA',
 'EMPRESA',
 'TITULO DO CARGO',
 'DESC. SITUACAO',
 'Sindicato',
 'DIAS DE FÉRIAS',
 'DATA DEMISSÃO',
 'COMUNICADO DE DESLIGAMENTO',
 'DATA_DE_ADMISSAO_MES_ATUAL',
 'INFO_ADMITIDOS_MES',
 'ESTADO_SINDICATO_SIGLA',
 'ESTADO_SINDICATO',
 'VALOR_SINDICATO',
 'MES_ATUAL',
 'ANO_ATUAL',
 'DIAS_UTEIS_MES_ATUAL',
 'QTD_DIAS_NO_MES',
 'ADMITIDO_NO_MES_ATUAL',
 'DIAS_VALIDOS',
 'TOTAL',
 'Custo empresa',
 'Desconto profissional',
 'Competência']

In [3685]:
df_final[["MATRICULA", "Sindicato", "Competência", "DIAS_VALIDOS", "VALOR_SINDICATO", "TOTAL", "Custo empresa", "Desconto profissional", "ESTADO_SINDICATO_SIGLA"]]

,MATRICULA,Sindicato,Competência,DIAS_VALIDOS,VALOR_SINDICATO,TOTAL,Custo empresa,Desconto profissional,ESTADO_SINDICATO_SIGLA
0,34941,SINDPD SP - SIND.TRAB.EM PROC DADOS E EMPR.EMP...,04/2025,21,37.5,787.5,630.0,157.5,SP
1,24401,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
2,32104,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
3,35254,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
4,31731,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
...,...,...,...,...,...,...,...,...,...
1810,32050,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
1811,32549,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
1812,31372,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
1813,31573,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS
1814,35194,SINDPPD RS - SINDICATO DOS TRAB. EM PROC. DE D...,04/2025,21,35.0,735.0,588.0,147.0,RS

In [3688]:
(df_final["DIAS_VALIDOS"].value_counts(dropna=False))

DIAS_VALIDOS
21    1726
20       7
0        7
7        6
17       6
10       5
12       5
6        5
9        4
19       4
16       4
14       3
3        3
13       2
4        2
5        2
11       1
15       1
1        1
Name: count, dtype: int64